<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @card.couleur %>
</p>

<p>
  <strong>Valeur:</strong>
  <%= @card.valeur %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @card.deck_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
